<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">
    <style>
        .fullscreen>.modal-dialog {
            width: 80% !important;
        }
    </style>
</head>

<body>
    <!-- Left Panel -->
    <div id="adminIndex">
        <menu-component></menu-component>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Form edit -->
            <form id="formAccountEdit" class="form-horizontal table table-striped" style="display: none;"
                @submit.prevent>
                <h5 class="card-header align-center">Sửa tài khoản</h5>
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input type="text" class="form-control" placeholder="Họ và tên" name="name"
                        v-model="account.full_name">
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" placeholder="Số điện thoại" name="phone"
                        v-model="account.phone">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control" placeholder="Mật khẩu" v-model="account.password">
                </div>
                <div class="form-group">
                    <label>Loại tài khoản</label>
                    <div class="check row">
                        <label class="radio-inline col-4"><input type="radio" name="role" value="admin"
                                v-model="account.type_account" checked>
                            Admin</label>
                        <label class="radio-inline col-4"><input type="radio" name="role" value="student"
                                v-model="account.type_account"> Học
                            viên</label>
                        <label class="radio-inline col-4"><input type="radio" name="role" value="teacher"
                                v-model="account.type_account"> Giáo
                            viên</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4">Giới tính</label>
                    <label class="col-4"><input type="radio" name="sex" value="nam" v-model="account.sex" checked>
                        Nam</label>
                    <label class="col-4"><input type="radio" name="sex" value="nu" v-model="account.sex"> Nữ</label>
                </div>
                <div class="form-group" v-if="account.type_account == 'teacher' ">
                    <label>Tiền lương trên một buổi (VND)</label>
                    <input type="number" class="form-control" placeholder="Tiền lương trên buổi" name="money"
                        v-model="account.price_each_lession">
                </div>

                <!-- <button class="btn btn-primary btn-flat m-b-30 m-t-30">Sửa</button> -->
                <button type="submit" class="btn btn-primary form-control" @click="handleSubmitEdit">Submit</button>
            </form>
            <!-- Form create -->
            <form id="formAccountCreate" class="form-horizontal table table-striped" style="display: none;"
                @submit.prevent>
                <h5 class="card-header align-center">{{form_title}}</h5>
                <div class="form-group">
                    <label>Tên tài khoản</label>
                    <input type="text" class="form-control" placeholder="Tên tài khoản" v-model="account.username">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control" placeholder="Mật khẩu" name="pass"
                        v-model="account.password">
                </div>
                <div class="form-group">
                    <label>Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="rePass"
                        v-model="account.re_password">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" v-model="account.email">
                </div>
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input type="text" class="form-control" placeholder="Họ và tên" name="name"
                        v-model="account.full_name">
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" placeholder="Số điện thoại" name="phone"
                        v-model="account.phone">
                </div>
                <div class="form-group">
                    <label>Loại tài khoản</label>
                    <div class="check row">
                        <label class="radio-inline col-4"><input type="radio" name="role" value="admin" checked
                                v-model="account.role">
                            Admin</label>
                        <label class="radio-inline col-4"><input type="radio" name="role" value="student"
                                v-model="account.role"> Học
                            viên</label>
                        <label class="radio-inline col-4"><input type="radio" name="role" value="teacher"
                                v-model="account.role"> Giáo
                            viên</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4">Giới tính</label>
                    <label class="col-4"><input type="radio" name="sex" value="nam" v-model="account.sex" checked>
                        Nam</label>
                    <label class="col-4"><input type="radio" name="sex" value="nu" v-model="account.sex"> Nữ</label>
                </div>
                <div class="form-group" v-if="account.role == 'teacher' ">
                    <label>Tiền lương trên một buổi (VND)</label>
                    <input type="number" class="form-control" placeholder="Tiền lương trên buổi" name="money"
                        v-model="account.price_each_lession">
                </div>
                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" @click="handleSubmitCreate">Đăng
                    ký</button>

            </form>
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <!-- Orders -->
                    <div class="orders">
                        <div class="card listAc">
                            <div class="card-body row">
                                <div class="col-3">
                                    <h4 class="box-title">Danh sách tài khoản</h4>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" v-model="search">
                                </div>
                                <div class="col-2">
                                    <input type="button" value="Search" class="btn btn-info" @click="seachAccount">
                                </div>
                                <div class="col-2">
                                    <span class="float-right" title="Click thêm quảng cáo" @click="createAccount">
                                        <i class="fa fa-plus-square fa-2x" style="cursor: pointer;"
                                            aria-hidden="true"></i>
                                    </span>
                                </div>

                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">STT</th>
                                                <th>Tên tài khoản</th>
                                                <th>Họ và tên</th>
                                                <th>Email</th>
                                                <th>Điện thoại</th>
                                                <th>Giới tính</th>
                                                <th>Trạng thái</th>
                                                <th>ngày tạo</th>
                                                <th>Loại tài khoản</th>
                                                <th>Tiền 1 buổi</th>
                                                <th>Xử lý</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(account, index) in list_accounts">
                                                <td class="serial">{{index + 1}}</td>
                                                <td> {{account.username}} </td>
                                                <td> <span style="width: 50px;">{{account.full_name}}</span> </td>
                                                <td>
                                                    <span class="">{{account.email}}</span>
                                                </td>
                                                <td>{{account.phone}}</td>
                                                <td v-if="account.sex == 'nam'">Nam</td>
                                                <td v-if="account.sex == 'nu'">Nữ</td>
                                                <td v-if="account.status == 1">Mở</td>
                                                <td v-if="account.status == 0">Đóng</td>
                                                <td>{{account.created_at | date}}</td>
                                                <td v-if="account.type_account == 'admin'">Admin</td>
                                                <td v-if="account.type_account == 'teacher'">Giáo viên</td>
                                                <td v-if="account.type_account == 'student'">Học viên</td>
                                                <td v-if="account.price_each_lession">
                                                    {{account.price_each_lession | money}}</td>
                                                <td v-if="!account.price_each_lession" style="text-align: center;">-----
                                                </td>
                                                <td>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="editAccount(account)"> Sửa /</a>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="deleteAccount(account)">Xóa</a>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>
                </div>
            </div>

        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->

    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2018 Ela Admin
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="https://colorlib.com">Colorlib</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
    </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <!-- <script src="./js/vue/router.js"></script> -->
    <script src="../../js/toastr.js"></script>
    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/admin/account/index.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>

</body>

</html>