<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">

</head>

<body>
    <!-- Left Panel -->
    <div id="danhsachLH">
        <form id="formSchedule" class="form-horizontal table table-striped" style="display: none;" v-on:submit.prevent>
            <h5 class="card-header align-center">{{form_title}}</h5>
            <div class="form-group">
                <label>Thứ</label>
                <!-- <input type="text" class="form-control" placeholder="Thời gian" name="time"> -->
                <select class="form-control" v-model="schedule.dayOfWeek">
                    <option :value="item.id" v-for="(item, index) in day_of_week">{{item.value}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Giờ bắt đầu</label>
                <input type="time" class="form-control timepicker" placeholder="Thời gian" id="start_time"
                    v-model="schedule.startLearn">
            </div>
            <div class="form-group">
                <label>Giờ kết thúc</label>
                <input type="time" class="form-control timepicker" placeholder="Thời gian" id="end_time"
                    v-model="schedule.endLearn">
            </div>

            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30"
                @click="handleSubmit">{{ text_submit }}</button>
        </form>
        <menu-component></menu-component>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <div class="orders">
                        <div class="card listAc">
                            <div class="card-body">
                                <h4 class="box-title">Danh sách lịch học
                                    <span class="float-right" title="Click thêm lịch học" @click="createSchedule">
                                        <i class="fa fa-plus-square fa-2x" style="cursor: pointer;"
                                            aria-hidden="true"></i>
                                    </span>
                                </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">STT</th>
                                                <th>Thứ</th>
                                                <th>Giờ bắt đầu</th>
                                                <th>Giờ kết thúc</th>
                                                <th>Xử lý</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in list_schedules">
                                                <td class="serial">{{index + 1}}</td>
                                                <td>Thứ {{item.day_of_week}}</td>
                                                <td> {{item.start_time | time}} </td>
                                                <td> {{item.end_time | time}}</td>
                                                <!-- <td> {{item.day_of_week}}</td> -->
                                                <td>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                    @click="updateSchedule(item.id)"> Sửa /</a>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                    @click="deleteSchedule(item.id)">Xóa</a>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
        <!-- .animated -->
        <!-- /.content -->

        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2018 Ela Admin
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/admin/schedule/danhsachLH.js"></script>
    <script src="../../js/toastr.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>

</body>

</html>