<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">
    <script src="../../assets/js/jquery.js"></script>
    <link rel="stylesheet" href="../../assets/css/select2.min.css">
    <script src="../../assets/js/select2.min.js"></script>



</head>

<body>
    <!-- Left Panel -->
    <div id="hocphiIndex">
        <menu-component></menu-component>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <div class="row" style="margin: 30px; ">
                        <div class="col-6">
                            <select name="tenlophoc" class="form-control" v-model="idTeacher">
                                <!-- <option value="Lớp tiếng anh cơ bản">Lớp tiếng anh cơ bản</option>
                            <option value="Lớp tiếng anh nâng cao">Lớp tiếng anh nâng cao</option> -->
                                <option v-for="(item, index) in list_course" v-bind:value=item.id>{{item.name}}
                                </option>
                            </select>
                        </div>

                        <!-- <select name="" id="">
                            <option value="" v-for="(item, index) in status">{{item.value}}</option>
                        </select> -->
                        <div class="col-3">
                            <button id="hocphi" @click="showTable" style="margin-left: 40px;" class="btn btn-info">Danh
                                sách học phí</button>
                        </div>
                        <div class="col-3">
                            <span class="float-right" title="Click Đăng ký học" @click="createHP">
                                <i class="fa fa-plus-square fa-2x" style="cursor: pointer;" aria-hidden="true"></i>
                            </span>
                        </div>

                    </div>
                    <div class="orders" id="danhsachhp" v-if="is_show">
                        <div class="card listAc">
                            <div class="card-body">
                                <h4 class="box-title">Danh sách học phí
                                </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">STT</th>
                                                <th>Tên Học viên</th>
                                                <th>Học phí</th>
                                                <th>Trạng thái</th>

                                                <th>Xử lý</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in listTuition">
                                                <td class="serial">{{index + 1}}</td>
                                                <td>{{item.full_name}}</td>
                                                <td>{{item.price}}</td>
                                                <td>Đã đóng</td>
                                                <td>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="deleteHP(item)">Xóa</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>

                    <form id="formHP" class="form-horizontal table table-striped btn-hp" style="display: none;"
                        @submit.prevent>
                        <h5 class="card-header align-center">Thêm học phí</h5>
                        <div class="form-group ">
                            <label>Số tiền đóng</label>
                            <input type="number" class="form-control " placeholder="Số tiền đóng"
                                v-model="tuition.moneyPaid">
                        </div>
                        <!-- <div class="form-group">
                            <label>Số tiền giảm</label>
                            <input type="number" class="form-control" placeholder="Số tiền giảm">
                        </div> -->
                        <div class="form-group">
                            <label>Khóa học</label>
                            <!-- <select name="tenlophoc" class="form-control select-course" v-model="tuition.courseTuition">
                                <option :value="item.id" v-for="(item, index) in list_course">{{item.name}}
                                </option>
                            
                            </select> -->
                            <input type="text" id="myInput" class="form-control" onkeyup="myFunction()"
                                placeholder="Tìm kiếm khóa học">
                            <ul id="myUL">
                                <li v-for="(item, index) in list_course"
                                    style="height: 30px;margin: 10px 0px 0px 35px;font-size: 20px;">
                                    <input type="radio" name="teacherCheck" style="margin-right: 15px;"
                                        v-bind:value="item.id" v-model="tuition.courseTuition">{{item.name}}</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Học viên</label>
                            <!-- <select name="tenlophoc" class="form-control" v-model="tuition.userTuition">
                                <option :value="item.id" v-for="(item, index) in list_accounts">
                                    {{item.full_name}}
                                </option>
                            </select> -->
                            <input type="text" id="myInput" class="form-control" onkeyup="myFunction()"
                                placeholder="Tìm kiếm học viên">
                            <ul id="myUL">
                                <li v-for="(item, index) in list_accounts"
                                    style="height: 30px;margin: 10px 0px 0px 35px;font-size: 20px;">
                                    <input type="radio" name="StudentCheck" style="margin-right: 15px;"
                                        v-bind:value="item.id" v-model="tuition.userTuition">{{item.full_name}}
                                    ({{item.id}} - {{item.username}})</li>
                            </ul>
                            <script>
                                function myFunction() {
                                    var input, filter, ul, li, a, i, txtValue;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    ul = document.getElementById("myUL");
                                    li = ul.getElementsByTagName("li");
                                    for (i = 0; i < li.length; i++) {
                                        a = li[i];
                                        txtValue = a.textContent || a.innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            li[i].style.display = "";
                                        } else {
                                            li[i].style.display = "none";
                                        }
                                    }
                                }
                            </script>
                        </div>

                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" @click="handleSubmit()">Lưu
                            thông tin</button>

                    </form>
                </div>
            </div>
        </div>
        <!-- .animated -->
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2018 Ela Admin
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <script>
        /*$(window).on("load", function () {
            var test = $(".select-course");
            console.log(test)
            $(".select-course").select2({
                tags: true
            });
        })*/
    </script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../js/toastr.js"></script>
    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/admin/tuition/danhsachHP.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>



</body>

</html>