<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">
</head>

<body>
    <!-- Left Panel -->
    <div id="danhsachKH">
        <menu-component></menu-component>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <div class="orders">
                        <div class="card listAc">
                            <div class="card-body row">
                                <div class="col-3">
                                    <h4 class="box-title">Danh sách khóa học</h4>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" v-model="search">
                                </div>
                                <div class="col-2">
                                    <input type="button" value="Search" class="btn btn-info" @click="seachCourse">
                                </div>
                                <div class="col-2">
                                    <span class="float-right" title="Click thêm khóa học" @click="createCourse">
                                        <i class="fa fa-plus-square fa-2x" style="cursor: pointer;"
                                            aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">STT</th>
                                                <th>Tên khóa học</th>
                                                <th>Số buổi</th>
                                                <th>Giá tiền</th>
                                                <th>Bắt đầu</th>
                                                <th>Kết thúc</th>
                                                <th>Trạng thái</th>
                                                <th>Giáo viên</th>
                                                <!-- <th>Ngày tạo</th> -->

                                                <th colspan="2" style="text-align: center;">Xử lý</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in list_course">
                                                <td class="serial">{{index + 1}}</td>
                                                <td> {{item.name}} </td>
                                                <td> {{item.number_session}} </td>
                                                <td> {{item.price_course | money}} </td>
                                                <td> {{item.start_date | date}}</td>
                                                <td>{{item.end_date | date}}</td>
                                                <td v-if="item.status == 1">Đã mở</td>
                                                <td v-if="item.status == 2">Sắp mở</td>
                                                <td v-if="item.status == 0">Đã đóng</td>
                                                <td>{{item.teacher_name}}</td>
                                                <!-- <td> {{item.created_at| date}} </td> -->

                                                <td>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="updateCourse(item)"> Sửa</a>
                                                </td>
                                                <td>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="deleteCourse(item)">Xóa</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
        <form id="formEditCourse" class="form-horizontal table table-striped" style="display: none;"
            v-on:submit.prevent>
            <h5 class="card-header align-center">{{form_title}}</h5>
            <div class="form-group">
                <label>Tên khóa học</label>
                <input type="text" class="form-control" placeholder="Tên khóa học" name="ten">
            </div>
            <div class="form-group">
                <label>Số buổi</label>
                <input type="text" class="form-control" placeholder="Số buổi" name="so_buoi">
            </div>
            <div class="form-group">
                <label>Ngày bắt đầu</label>
                <input type="text" class="form-control" placeholder="Ngày bắt đầu" name="batdau">
            </div>
            <div class="form-group">
                <label>Ngày kết thúc</label>
                <input type="text" class="form-control" placeholder="Ngày kết thúc" name="ketthuc">
            </div>

            <button type="submit" class="btn btn-primary btn-flat" @click="handleSubmit">{{text_submit}}</button>
        </form>
        <form id="formCreateCourse" class="form-horizontal table table-striped" style="display: none;"
            v-on:submit.prevent>
            <h5 class="card-header align-center">{{form_title}}</h5>
            <div class="form-group">
                <label>Tên khóa học</label>
                <input type="text" class="form-control" placeholder="Tên khóa học" name="ten" v-model="course.name">
            </div>
            <div class="form-group">
                <label>Số buổi</label>
                <input type="text" class="form-control" placeholder="Số buổi" name="so_buoi"
                    v-model="course.numberSession">
            </div>
            <div class="form-group">
                <label>Giá khóa học</label>
                <input type="number" class="form-control" placeholder="Giá khóa buổi" name="gia"
                    v-model="course.priceCourse">
            </div>
            <div class="form-group">
                <label>Giáo viên dạy</label>
                <select class="form-control" v-model="course.teacherCourse">
                    <option v-for="item in list_teacher" :value="item.id">
                        {{item.username}}
                    </option value="item.teacher_id">
                </select>
            </div>
            <div class="form-group">
                <label>Lịch học</label>
                <select class="form-control" v-model="course.learnSchedules" multiple>
                    <option v-for="item in list_schedule" :value="item.id">
                        Thứ {{item.day_of_week}} ({{item.start_time | time}} - {{item.end_time}})
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Ngày bắt đầu</label>
                <input type="date" class="form-control" placeholder="Ngày bắt đầu" name="batdau"
                    v-model="course.startDate">
            </div>
            <div class="form-group">
                <label>Ngày kết thúc</label>
                <input type="date" class="form-control" placeholder="Ngày kết thúc" name="ketthuc"
                    v-model="course.endDate">
            </div>
            <div class="form-group" v-if="is_update">
                <label>Trạng thái</label>
                <br>
                <input type="radio" class="radio-stt" name="status" value="0" v-model="course.status" checked> Đã đóng
                <input type="radio" class="radio-stt" name="status" value="1" v-model="course.status"> Đã mở
                <input type="radio" class="radio-stt" name="status" value="2" v-model="course.status"> Sắp mở
            </div>
            <div class="form-group">
                <label>Tài liệu</label>
                <input type="text" class="form-control" placeholder="Tài liệu" name="mota"
                    v-model="course.documentDriver">
            </div>
            <button type="submit" class="btn btn-primary btn-flat" @click="handleSubmit">{{text_submit}}</button>
        </form>
    </div>
    <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2018 Ela Admin
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="https://colorlib.com">Colorlib</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
    </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/admin/course/danhsachKH.js"></script>
    <script src="../../js/toastr.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>
    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>


</body>

</html>