<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">
</head>

<body>
    <!-- Left Panel -->
    <div id="danhsachQC">
        <menu-component></menu-component>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <div class="orders">
                        <div class="card listAc">
                            <div class="card-body row">
                                <div class="col-3">
                                    <h4 class="box-title">
                                        Danh sách quảng cáo</h4>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" v-model="search">
                                </div>
                                <div class="col-2">
                                    <input type="button" value="Search" class="btn btn-info" @click="seachADV">
                                </div>
                                <div class="col-2">
                                    <span class="float-right" title="Click thêm quảng cáo" @click="createAVD">
                                        <i class="fa fa-plus-square fa-2x" style="cursor: pointer;"
                                            aria-hidden="true"></i>
                                    </span></div>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">STT</th>
                                                <th>Tiêu đề</th>
                                                <th>Mô tả</th>
                                                <th>Trạng thái</th>
                                                <th>Ảnh</th>
                                                <th>Ngày tạo</th>
                                                <th>Xử lý</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(adv, index) in list_adv">
                                                <td class="serial">{{index + 1}}</td>
                                                <td> {{adv.title}} </td>
                                                <td style="width: 30%;"> <span>{{ adv.body }}</span> </td>
                                                <td v-if="adv.status ==  true">
                                                    <span>Mở</span>
                                                </td>
                                                <td v-else>
                                                    <span>Đóng</span>
                                                </td>
                                                <td><img :src="adv.urlImage" alt=""></td>
                                                <td>20/9/2019</td>
                                                <td>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="updateAVD(adv)"> Sửa /</a>
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="deleteAVD(adv.id)">Xóa</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
        <form id="formADV" class="form-horizontal table table-striped" style="display: none;" v-on:submit.prevent>
            <h5 class="card-header align-center">{{form_title}}</h5>
            <div class="form-group">
                <label>Tiêu đề</label>
                <input type="tieude" class="form-control" placeholder="Tiêu đề" name="tieude" v-model="adv.title">
            </div>
            <div class="form-group">
                <label>Mô tả</label>
                <input type="mota" class="form-control" placeholder="Mô tả" name="mota" v-model="adv.body">
            </div>
            <div class="form-group">
                <label>Ảnh</label>
                <input type="anh" class="form-control" placeholder="Ảnh" name="anh" v-model="adv.urlImage">
            </div>
            <div class="form-group row">
                <label class="col-4">Trạng thái</label>
                <label class="col-4"><input type="radio" name="status" value="false" v-model="adv.status"
                        checked>Đóng</label>
                <label class="col-4"><input type="radio" name="status" value="true" v-model="adv.status">Mở</label>
            </div>
            <button type="submit" class="btn btn-primary btn-flat" @click="handleSubmit">{{ text_submit }}</button>
        </form>
    </div>
    <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2018 Ela Admin
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="https://colorlib.com">Colorlib</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
    </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/admin/adv/danhsachQC.js"></script>
    <script src="../../js/toastr.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>
    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>


</body>

</html>