<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">

</head>

<body>
    <!-- Left Panel -->
    <div id="nhuCauHoc">

        <menu-component></menu-component>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <div style="margin: 40px 0px;">
                        <label style="float: left;    font-size: 24px; margin-left: 150px;">Trạng Thái: </label>
                        <select class="form-control" style="width: 135px;float: left;margin-left: 35px;"
                            v-model="status">
                            <option value="">Tất cả</option>
                            <option value="1">Tiếp nhận</option>
                            <option value="0">Chưa tiếp nhận</option>

                        </select>

                        <button id="hocphi" style="margin: 4px 100px; " @click="showTable"
                            class="btn btn-course btn-info">Danh sách nhu cầu
                            học</button>
                    </div>

                    <div class="orders" id="nhucauhoc" v-if="is_show">
                        <div class="card listAc">
                            <div class="card-body">
                                <h4 class="box-title">Thống kê</h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">STT</th>
                                                <th>Họ và tên</th>
                                                <th>Điện thoại</th>
                                                <th>Nhu cầu</th>
                                                <th>Thời gian</th>
                                                <th>Trạng thái</th>
                                                <th>Ngày tạo</th>
                                                <th>Xử lý</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in list_demand">
                                                <td class="serial">{{index + 1}}</td>
                                                <td> {{item.fullName}}</td>
                                                <td> {{item.phone}}</td>
                                                <td>{{item.needs}}</td>
                                                <td>{{item.time}}</td>
                                                <td v-if="item.status == 1">Đã tiếp nhận</td>
                                                <td v-if="item.status == 0">Chưa tiếp nhận</td>
                                                <td>{{item.createdAt | date}}</td>
                                                <td v-if="item.status == 1">
                                                    -----
                                                </td>
                                                <td v-if="item.status == 0">
                                                    <button @click="updateDemand(item)"
                                                        class="btn btn-course btn-primary">Tư
                                                        vấn</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
        <!-- .animated -->
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2018 Ela Admin
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <script>
        var button = document.getElementById("thang");
        var div = document.getElementById("danhsach");
        // Thiết lập click cho button 1
        /* button.onclick = function () {
             div.style.display = "block";
         };*/
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../js/toastr.js"></script>

    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/admin/report/demand.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>

</body>

</html>