<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teacher - Xem lương</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">
    <style type="text/css">
        .fullscreen>.modal-dialog {
            width: 80% !important;
        }
    </style>
</head>

<body>
    <!-- Left Panel -->
    <div id="XemLuong">
        <menu-component></menu-component>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <!-- Orders -->

                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Ngày bắt đầu</label>
                        <input type="date" class="form-control" v-model="start_time" placeholder="Ngày bắt đầu">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Ngày kết thúc</label>
                        <input type="date" class="form-control" v-model="end_time" placeholder="Ngày kết thúc">
                    </div>
                    <div class="form-group col-md-1">
                        <label><br></label>
                        <input type="submit" class="btn btn-success" @click="Caculate" value="Xem lương">
                    </div>
                </div>
                <table class="table table-striped" v-for="item in list_money">
                    <thead>
                        <tr>
                            <th colspan="3">Tháng: {{item.month}} </th>
                        </tr>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã giáo viên</th>
                            <th scope="col">Tên giáo viên</th>
                            <th scope="col">Thời gian</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(teacher, index) in item.data">
                            <th scope="row">{{index + 1}}</th>
                            <td>{{teacher.id}}</td>
                            <td>{{teacher.username}}</td>
                            <td>{{teacher.money | money}}</td>
                        </tr>
                    </tbody>
                    <hr>
                </table>
            </div>
        </div>

    </div>
    <!-- .animated -->
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2018 Ela Admin
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="https://colorlib.com">Colorlib</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../js/toastr.js"></script>
    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/admin/report/xemluong.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>

</body>

</html>