<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teacher</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../css/toastr.min.css">
    <style type="text/css">
        .fullscreen>.modal-dialog {
            width: 80% !important;
        }
    </style>
</head>

<body>
    <!-- Left Panel -->
    <div id="teacherIndex">
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class=" dropdown">
                            <a href="teacher.html" class="dropdown-toggle"> <i class="menu-icon fa fa-cogs"></i>Quản lý
                                lớp học</a>

                        </li>
                        <li class=" dropdown">
                            <a href="xemluong.html" class="dropdown-toggle"> <i class="menu-icon fa fa-cogs"></i>Xem
                                lương</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside>
        <!-- /#left-panel -->
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header-component></header-component>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <!-- Orders -->
                    <div class="orders">
                        <div class="card listAc">
                            <div class="card-body">
                                <h4 class="box-title">
                                    Khóa học của tôi
                                    <!-- <span class="float-right" title="Khóa học của tôi" @click="">
                                        <i class="fa fa-plus-square fa-2x" style="cursor: pointer;"
                                            aria-hidden="true"></i>
                                    </span> -->
                                </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial" style="padding-left: 40px;">STT</th>
                                                <th>Tên khóa học</th>
                                                <th>Số buổi</th>
                                                <th>Bắt đầu</th>
                                                <th>Kết thúc</th>
                                                <th>Trạng thái</th>

                                                <th colspan="2">Xử lý</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in list_cours">
                                                <td class="serial">{{index + 1}}</td>
                                                <td> {{item.name}}</td>
                                                <td> {{item.number}} </td>
                                                <td> {{item.start_date | date}}</td>
                                                <td>{{item.end_date | date}}</td>
                                                </td>
                                                <td v-if="item.status == 0">Chưa mở</td>
                                                <td v-if="item.status == 1">Đang mở</td>
                                                <td v-if="item.status == 2">Đã mở</td>


                                                <!-- <td> {{item.created_at| date}} </td> -->

                                                <td v-if="item.status == 2">
                                                    <a class="xuly" style="cursor: pointer; color: #ec1616;"
                                                        @click="showTable(item)">Điểm danh</a>
                                                </td>
                                                <td v-if="item.status == 1">
                                                    <a class="xuly" style="cursor: not-allowed; color: #000000;">Điểm
                                                        danh</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>
                    <div style="display: none;" id="tableCheckin">
                        <div>
                            <div class="card-body">
                                <h4 class="box-title">Điểm danh </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">STT</th>
                                                <th>Mã học viên</th>
                                                <th>Tên học viên</th>
                                                <th>Có mặt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(st, index) in students">
                                                <td class="serial">{{index + 1}}</td>
                                                <td> {{st.user_id}}
                                                </td>
                                                <td> <span class="name">{{st.full_name}}</span> </td>
                                                <td>
                                                    <input name="check" type="checkbox" v-bind:value=st.user_id
                                                        v-model="checkin.studentId" />
                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>
                                    <button style="float:right; margin: 20px 5%;width:125px" class="btn btn-ghost"
                                        @click="checkInSt()">Điểm
                                        Danh</button>
                                </div>
                                <!-- /.table-stats -->
                            </div>

                        </div> <!-- /.card -->
                    </div>

                </div>
            </div>

        </div>
        <!-- .animated -->
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2018 Ela Admin
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../js/toastr.js"></script>
    <!-- add vue -->
    <script src="../../js/vue/vue.min.js"></script>
    <script src="../../js/vue/vue-resource.min.js"></script>
    <script src="../../js/vue/vue-router.min.js"></script>
    <script src="../../js/vue/jwt-decode.min.js"></script>
    <script type="module" src="../../js/vue/teacher/index.js"></script>
    <script src="../../js/bootbox.all.min.js"></script>

</body>

</html>