<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>H2C TEAM EDUCATION</title>
  <meta name="description" content="Free Bootstrap Theme by uicookies.com">
  <meta name="keywords"
    content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700">
  <link rel="stylesheet" href="css/styles-merged.css">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" src="css/style1.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/toastr.min.css">
  <style>
    .fullscreen>.modal-dialog {
      width: 80% !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="uiCookies:Stack">Stack</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="index.html">Trang chủ</a>
            </li>
            <li class="probootstra-cta-button">
              <a href="#" class="btn" data-toggle="modal" data-target="#loginModal">Đăng Nhập</a>
            </li>
            <li class="probootstra-cta-button last">
              <a href="#" class="btn btn-ghost" data-toggle="modal" data-target="#signupModal">Đăng Ký</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="flexslider">
      <ul class="slides" v-for="(adv, index) in list_adv">
        <!-- <li style="background-image: url(../public/index/img/slider_1.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center"></div>
              </div>
            </div>
          </div>
        </li> -->
        <li v-bind:style="{ 'background-image': 'url(' + adv.urlImage + ')' }" style="display: block;" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center"></div>
              </div>
            </div>
          </div>
        </li>
        <!-- <li style="background-image: url(img/slider_3.jpg)" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center"></div>
              </div>
            </div>
          </div>
        </li> -->
      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white probootstrap-zindex-above-showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate"
            data-animate-effect="fadeIn">
            <h2>Các khoá học cho người mới bắt đầu</h2>
          </div>
        </div>
        <!-- END row -->
        <div class="row probootstrap-gutter60">
          <div v-for="adv in list_adv" class="col-md-4 " data-animate-effect="fadeIn">
            <div class="service hover_service text-center">
              <div class="icon">
                <img :src="adv.urlImage" alt class="img-responsive" />
              </div>
              <div class="text" style="height: 120px;">
                <h3>{{ adv.title }}</h3>
                <p>{{adv.body}}</p>
              </div>
              <button class="btn btn-ghost btn-course" data-toggle="modal" data-target="#signupModal">Đăng ký</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="course-review">
      <h1 class="preview">SỰ KHÁC BIỆT TRONG CHƯƠNG TRÌNH HỌC CỦA TRUNG TÂM H2C</h1>
      <div class="feedback-student">
        <div class="row">
          <div class="col-md-6">
            <ul class="feedback-text">
              <li>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                Kỹ thuật '6 bước luyện nghe' kết hợp kỹ năng phát âm giúp bạn nghe hiểu tiến bộ rõ
              </li>
              <li>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                Hoc viên hoàn toàn tự tin sử dụng các kĩ năng Nghe- Nói- Đọc- Viết, tự tin giao tiếp với người nước ngoài bằng phản xạ tự nhiên
              </li>
              <li>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                Nắm chắc kiến thức nền tảng tiếng Anh về ngữ pháp và từ vựng kết hợp với nghe nói
              </li>
              <li>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                Là trung tâm đầu tiên tại Việt Nam đào tạo Tiếng Anh Toàn Diện 4 Kỹ Năng cho người lớn. Ứng dụng hiệu quả cho học tập và làm việc
              </li>
            </ul>
          </div>
          <div class="col-md-6" style="text-align: right;">
            <img src="img/review1.jpg" alt style="width: 95%;" />
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-section proboostrap-clients probootstrap-bg-white probootstrap-zindex-above-showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 text-center client-logo probootstrap-animate group"
            data-animate-effect="fadeIn">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <b class="count">450</b>
            <span>Học sinh</span>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 text-center client-logo probootstrap-animate group"
            data-animate-effect="fadeIn">
            <i class="fa fa-university" aria-hidden="true"></i>
            <b class="count">56</b>
            <span>Khóa học</span>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6 text-center client-logo probootstrap-animate group"
            data-animate-effect="fadeIn">
            <i class="fa fa-users" aria-hidden="true"></i>
            <b class="count">55</b>
            <span>Giảng viên</span>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 text-center client-logo probootstrap-animate group"
            data-animate-effect="fadeIn">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <b class="count">400</b>
            <span>Hài lòng</span>
          </div>
        </div>
      </div>
    </section>
    <footer class="probootstrap-footer"  style="height: 285px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="probootstrap-footer-widget" style="margin-left: 145px;">
              <h3>© Copyright 2019 by H2C </h3>
              <p></p>
              <ul class="probootstrap-footer-social">
                <li>
                  <a href="#">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="">
                <div class="probootstrap-footer-widget">
                  <h3>Thông tin</h3>
                  <ul>
                    <li>
                      <a href="#">Địa chỉ:68, Ao Sen - Mộ Lao - Hà Đông - Hà Nội</a>
                    </li>
                    <li>
                      <a href="#">Điện thoại liên hệ: 0328 480 725</a>
                    </li>
                    <li>
                      <a href="#">Email: H2C@gmail.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal login -->
    <div class="modal fadeInUp probootstrap-animated" id="loginModal" tabindex="-1" role="dialog"
      aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-md vertical-align-center">
          <div class="modal-content" style="width: 33% !important;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="icon-cross"></i>
            </button>
            <div class="probootstrap-modal-flex">
              <div class="probootstrap-modal-content">
                <form @submit.prevent="handleSubmitLogin" class="probootstrap-form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" v-model="account.username" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu" v-model="account.password" />
                  </div>
                  <div class="form-group clearfix mb40">
                    <!-- <p>
                      <a href="#" class="probootstrap-forgot">Quên mật khẩu</a>
                    </p> -->
                    <p>
                      <a href="#" class="probootstrap-forgot" data-toggle="modal" data-target="#signupModal">Bạn chưa có
                        tài khoản</a>
                    </p>
                  </div>
                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="Đăng Nhập"
                          style="padding-right: 105px; margin: 30px 0 0 43px;" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END modal login -->

    <!-- Modal signup -->
    <div class="modal fadeInUp probootstrap-animated" id="signupModal" tabindex="-1" role="dialog"
      aria-labelledby="signupModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-md vertical-align-center">
          <div class="modal-content" style="width: 30% !important;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="icon-cross"></i>
            </button>
            <div class="probootstrap-modal-flex">
              <!-- <div class="probootstrap-modal-figure" style="background-image: url(./img/modal_bg.jpg);"></div> -->
              <div class="probootstrap-modal-content">
                <form class="probootstrap-form" @submit.prevent>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Họ và tên" v-model="demand.fullName" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Số điện thoại" v-model="demand.phone" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Thời gian học" v-model="demand.time" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nhu cầu học" v-model="demand.needs" />
                  </div>
                  <!-- <div class="form-group clearfix mb40">
                    <label for="remember" class="probootstrap-remember">
                      <input type="checkbox" id="Ghi nhớ" /> Ghi nhớ đăng nhập
                    </label>
                    <a href="#" class="probootstrap-forgot">Quên mật khẩu</a>
                  </div> -->
                  <div class="form-group text-left">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" @click="registration" value="Đăng Ký"
                          style="    padding-right: 90px;    margin: 30px 0 0 43px;" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- END modal signup -->
  <script src="js/scripts.min.js"></script>
  <script src="js/custom.min.js"></script>
  <!-- add vue -->
  <script src="./js/vue/vue.min.js"></script>
  <script src="./js/vue/vue-resource.min.js"></script>
  <script src="./js/vue/vue-router.min.js"></script>
  <script src="./js/vue/jwt-decode.min.js"></script>
  <script type="module" src="./js/vue/index.js"></script>
  <script src="./js/toastr.js"></script>
  <script src="./js/bootbox.all.min.js"></script>
</body>

</html>