<!doctype html>
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>H2C-STUDENT</title>
  <meta name="description" content="Ela Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/css/style.css">

  <link rel="stylesheet" href="../../css/toastr.min.css">

  <style>
    .fullscreen>.modal-dialog {
      width: 80% !important;
    }
  </style>

</head>

<body>
  <div id="studentIndex">
    <!-- Left Panel -->
    <!-- <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                    </ul>
                </div>
            </nav>
        </aside> -->
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="showContent" class="container-fluid" style="display: none;">
      <h2 class="title">Chi tiết Khóa học phát âm</h2>
      <ul>
        <li><span class="">Số buổi:</span></li>
        <li><span class="">Giáo viên:</span></li>
        <li><span class="">Giá tiền:</span></li>
        <li><span class="">Mô tải:</span>
          <ul>
            <li>Nắm chắc 12 thì cơ bản trong Tiếng Anh,tránh nhầm lẫn giữa các thì</li>
            <li>Các dạng của từ (Danh từ, Động từ, Tính từ, Mạo từ, Động từ khuyết thiếu, Giới từ, Lượng từ...)
              và
              cách phân biệt, sử dụng chính xác</li>
            <li>Các kiểu câu so sánh, Câu điều kiện và Câu trực tiếp và gián tiếp</li>
            <li>Hệ thống bài giảng sẽ giải quyết sự nhầm lẫn cơ bản và chỉ ra một số lỗi kinh điển thông qua các
              ví
              dụ cụ thể, gần gũi và không kém phần hài hước</li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="right-panel" class="right-panel">
      <!-- Header-->
      <header-component></header-component>
    </div>
    <div class="content">
      <!-- Animated -->

      <div class="container">

        <h1 style="font-size: 33px;
                      text-align: center;
                      color: #e61717;
                      margin-bottom: 50px;">Khóa học của tôi</h1>

        <!-- END row -->
        <div class="row probootstrap-gutter60">
          <div class="col-md-4 " data-animate-effect="fadeIn" v-for="(item, index) in list_cours">
            <div class="service hover_service text-center">
              <div class="icon">
                <img :src="img" alt class="img-responsive" style="width: 100%;" />
              </div>
              <div class="text" style="height: 95px;">
                <h3>{{item.name_course}}</h3>
                <p style="margin: 5px;">Lịch học: Thứ 2,4 (18:30-20:00)</p>
                <p>Trạng thái: Đã học</p>
              </div>
              <button class="btn btn-success btn-course" @click="showPopup(item)">Xem thêm</button>
              <button class="btn btn-success btn-course">Tài liệu</button>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- <div class="form-horizontal table table-striped">
      <div class="container">
        <div class="row">
          <div class="col-12"> -->

    <!-- </div>
        </div> -->
    <!-- Nội dung form đăng nhập -->

    <!-- </div> -->
  </div>
  <!-- .animated -->
  <!-- /.content -->
  <div class="clearfix"></div>
  <!-- Footer -->
  <footer class="site-footer">
    <div class="footer-inner bg-white">
      <div class="row">
        <div class="col-sm-6">
          Copyright &copy; 2018 Ela Admin
        </div>
        <div class="col-sm-6 text-right">
          Designed by <a href="https://colorlib.com">Colorlib</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.site-footer -->
  </div>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
  <script src="../../assets/js/main.js"></script>
  <!-- <script src="../../assets/js/custom-timetable.js"></script> -->
  <script src="../../js/toastr.js"></script>
  <!-- add vue -->
  <script src="../../js/vue/vue.min.js"></script>
  <script src="../../js/vue/vue-resource.min.js"></script>
  <script src="../../js/vue/vue-router.min.js"></script>
  <script src="../../js/vue/jwt-decode.min.js"></script>
  <script type="module" src="../../js/vue/student/index.js"></script>
  <script src="../../js/bootbox.all.min.js"></script>

</body>

</html>