<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/../page/admin/admin.html"><i class="menu-icon fa fa-laptop"></i>Trang Chủ </a>
                </li>
                <li class=" dropdown">
                    <a href="/../page/admin/admin.html" class="dropdown-toggle"> <i
                            class="menu-icon fa fa-cogs"></i>Quản lý tài
                        khoản</a>
                    <!-- <ul class="sub-menu children dropdown-menu"> -->
                    <!-- <li><i class="fa fa-bars"></i><a href="/admin.html">Danh sách tài khoản</a></li> -->
                    <!-- <li><i class="fa fa-bars"></i><a href="/page/taoTK.html">Tạo tài khoản</a></li> -->
                    <!-- </ul> -->
                </li>

                <li class="dropdown">
                    <a href="/page/admin/danhsachQC.html" class="dropdown-toggle"> <i
                            class="menu-icon fa fa-cogs"></i>Quản
                        lý quảng cáo</a>
                    <!-- <ul class="sub-menu children dropdown-menu"> -->
                    <!-- <li><i class="fa fa-bars"></i><a href="/page/danhsachQC.html">Danh sách quảng cáo</a></li> -->
                    <!-- <li><i class="fa fa-bars"></i><a href="/page/taoQC.html">Tạo quảng cáo</a></li> -->
                    <!-- </ul> -->
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Khóa học</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="/page/admin/danhsachKH.html">Quản lý khóa học</a></li>
                        <li><i class="fa fa-bars"></i><a href="/page/admin/danhsachLH.html">Quản lý lịch học</a></li>
                        <li><i class="fa fa-bars"></i><a href="/page/admin/danhsachHP.html">Quản lý học phí</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Thống kê</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="/page/admin/thongkeHV.html">Thống kê học viên</a></li>
                        <li><i class="fa fa-bars"></i><a href="/page/admin/thongkeHP.html">Thống kê học phí</a></li>
                        <li><i class="fa fa-bars"></i><a href="/page/admin/nhucauhoc.html">Nhu cầu học</a></li>
                        <li><i class="fa fa-bars"></i><a href="/page/admin/xemluongGV.html">Lương giáo viên</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>